<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>message</title>
  </head>
  <body>
    <li style="background-color: grey">
      <div class="info" style="display: flex; flex-direction: row">
        <p><%= message.user %></p>
        <p><%= message.added %></p>
      </div>
      <a href="/">main screen</a>
      <p><%= message.text %></p>
    </li>
  </body>
</html>
